/* Muotoilut */
/*
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5{
    font-size: 1.4em;
} 
*/

/* ****** */

/*
#jumboteksti{
		color: #000000;
	background-color:#E8E8E8;
}
*/

.sarakkeenLevennys td
{
		text-align: center;
    padding:0 25px 0 25px;
}

#kaudenTilastot{
	text-align: center;
}

.nav-tabs > li.active > a,  .nav-tabs > li.active > a:focus {
	color:black;
  background-color:#99ccff;
}

.nav-tabs > li.active > a:hover{
	color:black;
  background-color:#66ff99;
}


/*
#teaseralue{
	height: 800px;
  line-height: 100px;
  text-align: center;
}
*/
/*
#kaboom{
	height: 800px;
  line-height: 100px;
  text-align: center;
}
*/

img {
    display: block;
    margin: auto;
    /*width: 100%;*/
}

.container {
    font-size: 100%;
}


.container-fluid {
    font-size: 100%;
}


#paritilastoToveritKaikkiTaulukkoId th {
	background-color: #5dd55d;
	color: white;
}
/*
#paritilastoVastustajaTable th{
	background-color: #ff1a40;
	color: white;
}
*/
/* Keskitetään kaikki taulukkojen otsikot */
table th {
	text-align: center;	
}

/* Valittu pelaaja -tab, perustietoja pelaajasta */
/*
#perustiedotTable td:nth-child(1){
	background-color: #e1f2e0;
}

#perustiedotTable td{
    border: black solid 1px !important;
}

#perustiedotTable th{
    border: black solid 1px !important;
}
*/

/* Datatables-taulukoita */
#pelaajanJoukkueEdustusTable th, #sahlytyypitTable th{
	background-color:#dbdbff;
  border-color: black;
}

#pelitJoukkueittainTable th{
	background-color: #dbdbff;
  border-color: black;
}

#pelaajanJoukkueEdustusTable td, #sahlytyypitTable td, #pelitJoukkueittainTable td{
   border-color: black;
}


#pelitTaulukkoId {
	max-width: 1220px;
	margin:0 auto;
}

#valitunPareinaMaaratTaulukkoId, #valitunToveritTaulukkoId, #valitunVastustajatTaulukkoId{
	max-width: 1050px;
	margin:0 auto;
}

#valitunToveritTaulukkoTable th{
	background-color: #5dd55d;

}

#valitunPareinaMaaratTaulukkoTable th{
	background-color: #819cff;	
	color: white;
}

#valitunVastustajatTaulukkoTable th, #paritilastoVastustajaTable th{
	background-color: #ff1a40;
	color: white;
}

#ratkaisijatId {
	max-width: 920px;
	margin:0 auto;	
}

#ratkaisijatTable th{
	background-color:#ffd700;
}

/* Yleinen sählykertojen taulukko ja valitun pelaajan sählytaulukko */
#sahlytYleinenId th, #sahlytValittuId th{
	background-color:#b0494d;
	color: white;
}

/* Yleinen pelien taulukko */
#pelitTaulukkoId th{
	background-color: #4cba83;
	color: white;
}

/* Kaikkien pelaajien taulukko */
#kaikkiPelaajatId th{
	background-color:	#F2AB45;
}




/* Alkuperäiset   */

.osoitus{
	border: 2px solid green;
	color: black;
	background-color: white;
	padding: 1px;
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
	font-size: 14pt;
}

body { 
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: white;
	background-attachment: fixed;
}



	/*margin-left: 5%;
	margin-right: 5%;					*/
	/*	background-image: url(hallikuva.jpg);*/
	/*	background-size: 100% 100%;*/


/*
h1 { 
	border: 2px solid blue;
	background-color: #FDFEFE;
	padding: 5px;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

h2 { 
	border: 2px solid red;
	background-color: #FDFEFE;
	padding: 5px;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

h3 { 
	font-family: "Times New Roman", Times, serif;
	color: black;
	margin-left: 3%;
	margin-right: 3%;
	background-color: #AED6F1;
	
}

h4 { 
	font-family: "Times New Roman", Times, serif;
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #D5F5E3;
}
*/
p {
	/*background-color: white;*/
	
}

ul {
}

section#tiedotYhdestaPelaajastaDivId {
	background-color: white;
}


#sahlytId th {
	/*background: #922b21;*/
	color: white;
}


#pelaajanOsallistuminenPieId {
	background-color: #FDFEFE;
}

#pelaajienLkmId {
	background-color: white;
	margin-left: 3%;
	margin-right: 3%;
}

#pelaajaVoittoprosenttiKuvaaja {
	background-color: #FFFFFF;
}

#paritilastoToveriId {
	background-color: white;
}

#paritilastoToveriId th {
	background:DarkCyan;
	color: white;
}

#paritilastoVastustajaId {
	background-color: white;
}

#paritilastoVastustajaId th {
	background-color: #e74c3c;
	color: white;
}

#joukkueetId th {
	background-color: #A5FF23;
}

section#aloitus {
	background: white;
	border: solid white;
}

/*
div#kaikkiPelaajat {
	background: white;
	border: solid white;
}
*/
.ui-dialog .ui-dialog-content {
  border: 0;
	padding: .5em 1em;
	background: white;
	overflow: auto;
	
}

/* Dialogin muotoilu: otsikon taustaväri ainakin*/
.ui-dialog > .ui-widget-header {
	background: #CCFFFF;
	color: black;
}



/* Näitä tarvitaan tablersorter-taulukkojen muotoiluun */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
border: 1px solid #dad9c7;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 12pt;
	padding: 4px;
	text-align:center;
border: 1px solid #dad9c7;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
border: 1px solid #dad9c7;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
border: 1px solid #dad9c7;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

